<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Dashboard V.1 | Nalika - Material Admin Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- favicon
		============================================ -->

</head>
<style>
h3 {
	color: white;
}
</style>
<body>
	<!-- NƠI GẮN LINK VÀO -->
	<div th:insert="~{admin/linkAdm :: links_admin}"></div>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->




	<div th:insert="~{admin/header :: header_admin}"></div>

	<div class="all-content-wrapper">
		<!-- Single pro tab start-->
		<div class="single-product-tab-area mg-b-30">
			<!-- Single pro tab review Start-->
			<div class="single-pro-review-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="review-tab-pro-inner">
								<ul id="myTab3" class="tab-review-design">
									<li class="active"><a href="#description"> <i
											class="icon nalika-edit" aria-hidden="true"> </i> Chỉnh sửa
											người dùng
									</a></li>
								</ul>
								<div id="myTabContent" class="tab-content custom-product-edit">
									<div class="product-tab-list tab-pane fade active in"
										id="description">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<!-- 	<form method="post" modelAttribute="user" action=""> -->
												<form action="" method="POST" th:object="${user}">
													<input type="hidden" th:field="*{idUser}" /> * Username: <input
														th:field="*{email}" type="text" class="form-control"
														required /> <br /> * Địa chỉ Email: <input
														th:field="*{username}" type="text" class="form-control" />
													<br /> * Mật khẩu: <input type="password"
														th:field="*{password}" class="form-control" required /> <br />
													* Nhập lại mật khẩu: <input type="password"
														th:field="*{request}" class="form-control" /> <br />
													Giới tính: <select th:field="*{gender}"
														class="form-control">
														<option value="Nam">Nam</option>
														<option value="Nữ">Nu</option>
														<option value="Khác">Khac</option>

													</select> <br /> * Ngày sinh: <input th:field="*{dateOfBirth}"
														type="text" class="form-control" required /> <br /> * Số
													điện thoại: <input th:field="*{phone}" class="form-control"
														type="text" /> <br /> * Địa chỉ: <input
														th:field="*{address}" class="form-control" type="text"
														required /> <br />
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="text-center custom-pro-edt-ds">
															<button type="submit"
																class="btn btn-ctl-bt waves-effect waves-light">
																LƯU</button>
															<a href="">
																<button type="button"
																	class="btn btn-ctl-bt waves-effect waves-light">
																	HỦY</button>
															</a>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--FOOTER -->

	<div th:insert="~{admin/footer :: footer_admin}"></div>

</body>
</html>