<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Dashboard V.1 | Nalika - Material Admin Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- favicon
		============================================ -->

</head>
<style>
h3 {
	color: white;
}
</style>
<body>
	<!-- NƠI GẮN LINK VÀO -->
	<div th:insert="~{admin/linkAdm :: links_admin}"></div>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->




	<div th:insert="~{admin/header :: header_admin}"></div>

	<div class="all-content-wrapper">

		<!-- Single pro tab start-->
		<div class="single-product-tab-area mg-b-30">
			<!-- Single pro tab review Start-->
			<div class="single-pro-review-area">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="review-tab-pro-inner">
								<ul id="myTab3" class="tab-review-design">
									<li class="active"><a href="#description"><i
											class="icon nalika-edit" aria-hidden="true"></i> Thêm người
											dùng</a></li>
								</ul>
								<div id="myTabContent" class="tab-content custom-product-edit">
									<div class="product-tab-list tab-pane fade active in"
										id="description">
										<div class="row">

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<!-- <form:form action="addUser" method="POST"
													modelAttribute="user" onsubmit="return matchpass()"> -->
												<form name="form1" id="form1" th:action="@{/admin/addUser}"
													th:object="${user}" class="create-account-form"
													method="post" onsubmit="return matchpass()">

													* Username: <input th:field="*{username}"
														class="form-control" required /> <br /> * Địa chỉ Email:
													<input th:field="*{email}" class="form-control" required />
													<br /> * Mật khẩu: <input type="password"
														th:field="*{password}" class="form-control"
														pattern=".{6,}" title="8 characters minimum" required />
													<br /> * Nhập lại mật khẩu: <input type="password"
														th:field="*{request}" class="form-control" required /> <span
														id="sessages" style="color: red;"></span> <br /> * Giới
													tính: <select th:field="*{gender}" class="form-control">
														<option value="Nam">Nam</option>
														<option value="Nữ">Nu</option>
														<option value="Khác">Khac</option>

													</select> <br /> * Ngày sinh: <input th:field="*{dateOfBirth}"
														type="datetime" class="form-control"
														placeholder="DD/MM/YYYY" value="" min="1950-01-01"
														max="2030-12-31"
														pattern="((0[1-9]|[12]\d|3[01])/(0[1-9]|1[0-2])/[12]\d{3})"
														required /> <br /> * Số điện thoại: <input
														th:field="*{phone}" class="form-control"
														pattern="([\+84|84|0]+(3|5|7|8|9|1[2|6|8|9]))+([0-9]{8})\b"
														required /> <br /> * Địa chỉ: <input
														th:field="*{address}" class="form-control" required /> <br />

													<button type="submit">Lưu</button>
													<button type="reset">Huỷ bỏ</button>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>






	<!--FOOTER -->
	<script type="text/javascript">
		function matchpass() {
			var firstpassword = document.form1.password.value;
			var secondpassword = document.form1.request.value;

			if (firstpassword == secondpassword) {
				return true;
			} else {
				document.getElementById("sessages").innerHTML = "password must be same!";

				return false;
			}
		}


		function Validate() {
			var password = document.getElementById("txtPassword").value;
			var confirmPassword = document.getElementById("txtConfirmPassword").value;

			var email = document.getElementById('email');
			var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

			if (!filter.test(email.value)) {
				alert('Hay nhap dia chi email hop le.\nExample@gmail.com');
				email.focus;
				return false;
			}
			if (password != confirmPassword) {
				alert("Passwords do not match.");
				return false;
			}
			return true;
			alert('OK roi day, Email nay hop le.');
		}
	</script>

	<!-- END FOOTER -->
	<div th:insert="~{admin/footer :: footer_admin}"></div>

</body>
</html>