<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Logout Writer</title>
</head>

<body>
	<!-- Include _menu.html -->
	<div th:insert="~{link :: links}"></div>
	<!-- Add your site or application content here -->
	<!--Header Area Start-->
	<!-- NÆ I Gáº®N HEADER -->
	<div th:insert="~{header :: header_in}"></div>
	<!-- Breadcrumbs Area Start -->
	<div class="breadcrumbs-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumbs">
						<h2>Hẹn gặp lại bạn. Chúc bạn có một ngày mới vui vẻ!</h2>
						<ul class="breadcrumbs-list">
						
							<li><a title="Return to Home" href="/">Trang chủ</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumbs Area Start -->
	<!-- Mobile Menu End -->
	<br>
	<<!-- h1 style="text-align: center">Hẹn gặp lại bạn. Chúc bạn có một ngày mới vui vẻ!</h1> -->
	<br>
	<!-- Footer Area Start -->
	<!-- NƠI GẮN FOOTER -->
	<div th:insert="~{footer :: footer_in}"></div>
</body>

</html>