<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Writer BookStore</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Mọi link bootrap.... -->

</head>
<body>
	<!-- NƠI GẮN LINK VÀO -->
	<div th:insert="~{link :: links}"></div>
	<!-- Add your site or application content here -->
	<!--Header Area Start-->
	<!-- NƠI GẮN HEADER -->
	<div th:insert="~{header :: header_in}"></div>
	<!-- Mobile Menu End -->
	<!-- Mobile Menu Start -->

	<!-- Start Welcome area -->
	<div class="all-content-wrapper">
		<br>
		<h2 style="color: red; text-align: center">THANH TOÁN THÀNH CÔNG</h2>
		<p style="text-align: center">Cảm ơn bạn đã đặt mua sách của chúng tôi!</p>
		<p style="text-align: center">Thông tin đơn hàng đã được gửi đến
			email của bạn.
		<p />
		<a th:href="@{/shop}"><button
				style="margin: auto; display: block;">Tiếp tục mua hàng</button></a> <br>
		<!-- Footer Area Start -->
		<!-- NƠI GẮN FOOTER -->
		<div th:insert="~{footer :: footer_in}"></div>
</body>

</html>